/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

* {
    padding        : 0;
    margin         : 0;
    font-family    : "Poppins", "Segoe UI Emoji", sans-serif;
    box-sizing     : content-box;
    text-decoration: none;
    list-style     : none;
    outline        : none;
    border         : none;
    transition     : .3s ease;
    text-align     : justify;
}

:root {
    --navigation-color  : #d9376e;
    --background        : #eff0f3;
    --content-background: #fffffe;
    --highlight         : #ff8e3c;
    --text-highlight    : #0d0d0d;
    --pharagaph         : #2a2a2a;
}

html {
    scroll-behavior: smooth;
}


html::-webkit-scrollbar {
    background-color: var(--content-background);
    width           : 15px;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--navigation-color);
    border-radius   : 5px;
}