@import url('global_css.css');



header {
    /* padding        : .7rem; */
    background: var(--content-background);
    box-shadow: 0 0 5px 1px #0005;
    position  : sticky;
    top       : 0;
    left      : 0;
    width     : 100%;
    z-index   : 1;
}

header nav {
    padding        : 1rem;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    flex-wrap      : wrap;
    gap            : 2rem;
    font-size      : .8em;
}

header nav>div a {
    font-weight   : bold;
    letter-spacing: 1.3px;
    padding       : .5rem;
    border-radius : 5px;
}

header nav>div:nth-child(1) a {
    background-color: var(--highlight);
    color           : var(--content-background);
}

header nav>div:nth-child(1) a:hover {
    color      : var(--navigation-color);
    text-shadow: var(--text-highlight) 1px 1px 1px;
}


header nav>div:nth-child(2) a {
    color: var(--navigation-color);
}

header nav>div:nth-child(2) a:hover {
    background-color: var(--highlight);
    color           : var(--content-background);
}


header nav .action_div {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    gap            : .5em;
}


.container {
    display        : flex;
    flex-direction : column;
    justify-content: stretch;
    align-items    : stretch;
}

.container>section {
    padding: 1em;
}

.container .category_browser_nav {
    display        : flex;
    flex-direction : column;
    gap            : 1em;
    justify-content: stretch;
    align-items    : stretch;
}

.container .category_browser_nav .category_browser_nav_title {
    color: var(--navigation-color);
}

.container .category_browser_nav .category_browser_nav_actions {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: flex-start;
    align-items    : stretch;
    gap            : .5em;
}


.container .category_browser_nav .category_browser_nav_actions .category_nav_action_button {
    padding         : .5em;
    border          : none;
    border-radius   : .5em;
    cursor          : pointer;
    text-transform  : uppercase;
    font-weight     : bold;
    box-shadow      : 0 0 5px 0 var(--navigation-color);
    color           : var(--navigation-color);
    background-color: var(--content-background);
}


.container .category_browser_nav .category_browser_nav_actions .category_nav_action_button:hover {
    background-color: var(--navigation-color);
    color           : var(--content-background);
}


.active {
    padding         : .5em;
    border          : none;
    border-radius   : .5em;
    cursor          : pointer;
    text-transform  : uppercase;
    font-weight     : bold;
    box-shadow      : 0 0 5px 0 var(--navigation-color);
    background-color: var(--navigation-color);
    color           : var(--content-background);
}

.container .category_products {
    display        : flex;
    flex-direction : column;
    justify-content: stretch;
    align-items    : stretch;
    gap            : 1em;
}

.container .category_products>div {
    display        : flex;
    flex-direction : column;
    justify-content: stretch;
    align-items    : flex-start;
    flex-wrap      : wrap;
    gap            : 1em;
}

/* 
hr {
    border          : none;
    padding         : 1px;
    background-color: var(--navigation-color);
} */

.container .category_products>div h3 {
    color: var(--navigation-color);
}

.container .category_products>div .products {
    display        : flex;
    flex-direction : row;
    justify-content: stretch;
    align-items    : stretch;
    flex-wrap      : wrap;
    gap            : 1em;
}

.container .category_products>div .products .card {
    background-color: var(--content-background);
    padding         : 1em;
    box-shadow      : 0 0 3px 0px var(--highlight);
    border-radius   : 5px;
    display         : flex;
    flex-direction  : column;
    gap             : 1em;
}

.container .category_products>div .products .card h4 {
    color              : var(--pharagaph);
    width              : fit-content;
    letter-spacing     : 1.5px;
    padding            : .2em;
    border-radius      : 5px;
    /* width           : 100%; */
}

.container .category_products>div .products .card p {
    padding-top   : .5em;
    padding-bottom: .5em;
    padding-right : .5em;
    text-indent   : .5em;
    color         : var(--text-highlight);
    font-weight   : bold;
}

.container .category_products>div .products .card p:nth-child(odd) {

    border-left     : .5em solid var(--navigation-color);
    background-color: #e851839c;
}


.container .category_products>div .products .card p:nth-child(even) {
    border-left     : .5em solid var(--highlight);
    background-color: #ff8d3c97;
}

.container .category_products>div .products .card p:hover {
    box-shadow: 5px 5px 5px navajowhite;
    cursor    : default;
}

.container .category_products>div .products .card button {
    padding         : .5em;
    font-weight     : bold;
    font-size       : .8em;
    border          : none;
    cursor          : pointer;
    border-radius   : 5px;
    background-color: transparent;
}

.container .category_products>div .products .card button:nth-child(odd) {
    color     : var(--navigation-color);
    box-shadow: 0 0 2px var(--navigation-color);
}

.container .category_products>div .products .card button:hover:nth-child(odd) {
    background-color: var(--navigation-color);
    color           : #fffe;
}

.container .category_products>div .products .card button:nth-child(even) {
    color     : var(--highlight);
    box-shadow: 0 0 2px var(--highlight);
}

.container .category_products>div .products .card button:hover:nth-child(even) {
    background-color: var(--highlight);
    color           : #fffe;
}




#cart_modal {
    padding        : 1em;
    display        : flex;
    flex-direction : column;
    justify-content: stretch;
    align-items    : stretch;
}

#cart_modal span {
    display        : flex;
    flex-direction : column;
    justify-content: stretch;
    align-items    : stretch;
}

#cart_modal span details {
    background-color: var(--navigation-color);
    padding         : .5em;
    border-radius   : .5em;
}

#cart_modal span details summary {
    display: flex;
    cursor : pointer;
    color  : var(--content-background);
}


#cart_modal span details p {
    padding: .5em;
    color  : var(--content-background);
}

#cart_modal span :is(input, select) {
    padding         : .5em;
    border          : none;
    border-radius   : 5px;
    background-color: var(--highlight);
    color           : var(--content-background);
}

#cart_modal span:has(button) {
    display       : flex;
    flex-direction: row;
    gap           : .5em;
}

#cart_modal span button {
    padding      : .5em;
    width        : fit-content;
    font-weight  : bold;
    border       : none;
    border-radius: .5em;
    cursor       : pointer;
}

#cart_modal span button:nth-child(1) {
    box-shadow: 0 0 2px 1px var(--navigation-color);
    color     : var(--navigation-color);
}

#cart_modal span button:nth-child(1):hover {
    background-color: var(--navigation-color);
    color           : var(--content-background);
}

#cart_modal span button:nth-child(2) {
    box-shadow: 0 0 2px 1px crimson;
    color     : crimson;
}

#cart_modal span button:nth-child(2):hover {
    background-color: crimson;
    color           : var(--content-background);
}

#logout {
    background-color: crimson;
    color           : var(--content-background);
}

@media (min-width:300px) and (max-width:768px) {
    .container .category_products>div .products {
        justify-content: center;
        align-items    : center;
    }

    .container .category_products>div .products .card {
        width: 100%;
    }
}